<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343513585862-h606anul6m7uk14uuc51na71jm87hv9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343513585862-h606anul6m7uk14uuc51na71jm87hv9e</string>
	<key>API_KEY</key>
	<string>AIzaSyCvf4hjPU_7chb-GuL4YJV_7sIYu8VrTXU</string>
	<key>GCM_SENDER_ID</key>
	<string>343513585862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abraaolevi.flutterBrewCrew</string>
	<key>PROJECT_ID</key>
	<string>brew-crew-9c92a</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-crew-9c92a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343513585862:ios:7a80b64ef30e4cfbd8dfc7</string>
	<key>DATABASE_URL</key>
	<string>https://brew-crew-9c92a.firebaseio.com</string>
</dict>
</plist>